apache-airflow[gcp]==1.10.4
apache-airflow[s3]==1.10.4
google-api-python-client==1.7.11
pandas==0.24.2
PyYAML==5.1.2
dateparser==0.7.1
google-cloud-bigquery==1.18.0
google-oauth==1.0.1
google-cloud-storage==1.18.0
dask
